#mainbav table tr:nth-child(3){
	background-color: #86DB00;
}
#mainbav table tr:nth-child(1):hover{
	background-color: #7963DF;
}

#list .showList[value="0"]{		/*当人数为零时，成灰色*/
	color: #ccc;
	font-size: .8rem;
	cursor: default;
}

#list .delete:not([value="0"]){		/*当人数为不为零时，成灰色*/
	color: #ccc;
	font-size: .8rem;
	cursor: default;
}

input:disabled, textarea:disabled {
    color: #ccc;
}

input[name=name]{
	width: 8rem;
}

.info{
	text-align: left;
	color: #222;
	font-size: 75%;
}

.info tbody tr:nth-child(even){
	color: #555;
	background-color: #f2dede;
}
 
.info input[type=checkbox]{
    width: 20px;
    height: 20px;
}


.address{
	width: 4rem;
	color: #8e8e8e;
	font-size: .5rem;
	line-height: 1rem;
}

.btn-success{
	color:#fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.table thead.bordered-darkorange>tr>th {
    border-bottom: 3px solid #11a9cc;
}

tbody>tr>th>span{
	height: 100%;
	line-height: 60px;	/*表格内文字垂直居中*/
}