html{
	font-size: 14px;
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	height: 4rem;
	width: 100%;
	z-index: 999;	/*防止下方内容过多时，滚动遮盖导航栏*/
	background-color: #000;
	color:#eee;
	clear:none;
}

#header .img-box{
	float:left;
	height: 4rem;
	margin-left: 2rem;
}

#mainbav ul{
	opacity: .9;
	margin-left: 15px;
	float: left;
	font-size: 1.8rem;
	font-weight: 800;
}

#mainbav ul li{
	float: left;
	display: inline-block;
}

#mainbav ul li a{
	padding:0 2rem;
	color: #eee;
	text-decoration: none;
	line-height: 4rem;		/* #header 的高度*/
}

#mainbav ul li:hover{
	background-color: #86DB00;
}

#mainbav ul li:target{
	background-color: green;
}

#ucenter{
	float: right;
}

.content{
	position: absolute;
	width: 59%;			/**防止页面超出*/
	top:4rem;			/* #header 的高度*/
	margin: 0;
	padding: 0 20%;
}

.widget {
    padding: 0;
    padding-top: 3rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 3px 0 30px 0;
}
.widget-header.bordered-bottom {
    border-bottom: 3px solid #fff;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
}
.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    color: #555;
    padding-left: 12px;
    text-align: right;
}
.bordered-yellow {
    border-color: #ffce55!important;
}
.widget-header>.widget-caption {
    line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400!important;
    font-size: 13px;
}
.widget-buttons {
    display: inline-block;
    padding: 0 15px;
    margin: 15px 0;
    line-height: 34px;
    position: relative;
    text-align: left;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
}
a.widget-buttons:hover{
    text-decoration: none;
    color: blue;
    background-color: #ccc;
}

.widget-body.no-padding {
    padding: 0;
}
.widget-body {
    background-color: #fbfbfb;
    -webkit-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    padding: 12px;
}

.btn-group>.btn:first-child {
    margin-left: 0;
}
.widget-header>.widget-caption {
    line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400!important;
    font-size: 13px;
}